<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
        <h2>About Node.js</h2>
        <p>My new test site!</p>
        <a href="/contact" class="btn btn-lg btn-primary">Learn About Us</a>
    </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
    About
</div>